@import "tailwindcss";

.risk-flag {
	background-color: #ffe5e5;
	color: #b91c1c;
	padding: 0.2em 0.5em;
	border-radius: 0.25em;
	font-weight: bold;
}

.flash {
	padding: 0.75em 1.25em;
	margin-bottom: 1em;
	border-radius: 0.25em;
	font-weight: 500;
}
.flash.notice {
	background: #e0f7fa;
	color: #006064;
}
.flash.alert {
	background: #ffebee;
	color: #c62828;
}
